<link rel="stylesheet" href="/styles/navbar.css">

<nav class="navbar navbar-expand-lg fixed-top" id="my-navbar">
  <div class="container-fluid" >
    <a class="navbar-brand" id="my-brand" href="/projects">Project Showcase</a>
    <button class="navbar-toggler my-nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto" id="links-container">
        <a class="nav-link" href="/projects">Home</a>
        <a class="nav-link" href="/projects/new">Post Project</a>
        <% if(!currentUser){ %>

        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <% }else{ %>

        <a class="nav-link" href="/user/<%= currentUser._id  %>/messages">Messages</a>
        <a class="nav-link" href="/user/<%= currentUser._id %>/activity">Activity</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/user/<%= currentUser._id  %>">My Account</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<!-- <nav id="my-navbar">
  <div class="nav-container">
    <a id="my-brand" href="/projects">Project Showcase</a>
    <div class="navigation-links d-inline">
      <a href="/projects"><span class="iconify" data-icon="fa-solid:home" data-inline="false"></span></a>
      <a href="/projects/new"><span class="iconify" data-icon="carbon:add-filled" data-inline="false"></span></a>
    </div>
  </div>
</nav> -->

