<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/styles/user.messages.css">

<div class="main-section">
  <div class="row">
    <div class="col-4">
      <div class="users-section">
        <input class="user-search" placeholder="Search Friends" type="text" name="" id="">
        <div class="users-container">
          <% for(let friend of user.friends){ %>
          <div class="user-friend row" data-userid="<%= friend._id  %>">
            <div class="col-3">
              <div class="user-friend-pic" style="background-image: url('<%= friend.profilePic.url  %>');"></div>
            </div>
            <div class="col-9">
              <div class="user-friend-main row">
                <div class="user-friend-username col-12"><%= friend.username  %></div>
                <div class="user-friend-lastmsg col-12"><span>This is a last message of..</span></div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="message-section">
        <div class="messege-area">
          <div class="user-friend-message-sec row">
            <div class="user-pic-message-sec col-3"></div>
            <div class="user-username-message-sec col-5">Username</div>
          </div>
          <div class="main-message-area"></div>
        </div>
        <div class="message-input-section">
          <form id="message-form" data-current-user="<%= currentUser._id  %>">
            <input id="message-input" type="text">
            <button class="btn btn-primary" id="send-message" type="submit">Send</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</div>


<script src="https://cdn.socket.io/4.1.1/socket.io.min.js"
  integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/user.messages.js"></script>