.home-screen{
  width: 90%;
  margin: 1em auto;
}

.project-container{
  /* background-color: red; */
  padding: 0em 1em 1em 1em;
  max-height: 80vh;
  overflow-y: scroll;
}

.project-container::-webkit-scrollbar{
  display: none;
}

.project{
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.project-user-section{
  width: 100%;
  min-height: 7vh;
  padding: 0.5em;
}

.project-user-section a{
  color: black;
}

.profilepic-project-card{
  min-height: 6vh;
  max-height: 6vh;
  max-width: 6vh;
  min-width: 6vh;
  border-radius: 100%;
  background-color: gray;
  margin-left: 20%;
  background-position: center;
  background-size: cover;
}

.username-project-card{
  min-height: 100%;
  max-height: 7vh;
  /* background-color: aliceblue; */
  padding: 0.6em 0;
  font-weight: 600;
  
}

.collab-suggestions{
  padding: 0.5em 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
a{
  text-decoration: none;
}

.suggested-user-pic{
  width: 4vh;
  min-height: 4vh;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.suggested-user{
  min-height: 6vh;
  border: 1px solid #7209b7;
  border-radius: 5px;
  /* border-bottom: 1px solid black; */
  margin: 1em auto;
  padding: 0.5em 0.2em;
}

.suggested-user-username a{
  color: black;
  font-weight: 400;
}

.suggested-user-collab-btn button{
  width: 100%;
}

 .carousel-img-my{
   max-height: 40vh;
 }

 #explore-project-btn{
   width: 100%;
   background: linear-gradient(90deg, #7209b7 0%, #b5179e 100%);
   margin: 0 auto;
   text-align: center;
   padding: 0.5em 0;
   color: white;
   transition: all 1s ease-in-out;
   transition-delay: all 1s;
   font-weight: 500;
   letter-spacing: 1px;
 }

 #explore-project-btn:hover{
   color: white;
   background: linear-gradient(90deg, #B5179E 0%, #F72585 100%);
 }

 .index-collab-btn{
  width: 100%;
  padding: 0.2em 0.3em;
  background-color: white;
  color: #7209b7;
  border: 1px solid #7209b7;
  border-radius: 5px;
 }
 .index-collab-btn:hover{
  
  background-color: #7209b7;
  color:white ;
  border: 1px solid white;

 }

 .index-collab-requested-btn{
  width: 100%;
  padding: 0.2em 0.3em;
  background-color: #7209b7;
  color:white ;
  border: 1px solid white;
  border-radius: 5px;
 }
 




 @media only screen and (max-width: 860px){
  .home-screen{
    width: 100%;
    margin: 1em auto;
  }
  .project-container{
    /* background-color: red; */
    padding: 0em 1em 1em 1em;
    max-height: fit-content;
    overflow-y: scroll;
  }
  .project{
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
 }